<template>
  <section class="myLikeMusic box" ref="myLikeMusicBox" @click="showPLD">
    <i class="icon icon-love"></i>
    <div
      class="cover"
      :style="{ backgroundImage: 'url(' + detail.coverImgUrl + ')' }"
    ></div>
    <div class="info">
      <p>
        Favorite <br /><span>{{ detail.tracks[0].ar[0].name }}</span>
      </p>
      <p>
        {{ detail.trackCount }}<br />
        <span>Songs</span>
      </p>
    </div>
    <!--     <div class="intelligencePlay_btn" @click.stop="intelligenceMode">
      <i class="icon icon-xindong"></i>
      心动模式
    </div> -->
  </section>
</template>

<script>
import { getPlaylistDetail } from "network/playlist";
import { Toast } from "vant";
// import { mapState } from "vuex";

export default {
  name: "MyLikeMusic",
  props: {
    data: Object,
  },
  computed: {
    /*     ...mapState({
      userInfo: (state) => state.ua.profile,
    }), */
  },
  data() {
    return {
      detail: {},
    };
  },
  methods: {
    showPLD() {
      this.$emit("showPLD", this.detail);
    },
    intelligenceMode() {
      return Toast({
        message: "存在bug，暂不开放",
        icon: "info-o",
      });
      /* this.$store.dispatch("changeIntelligencePIL", {
        id: this.detail.tracks[parseInt(Math.random() * this.detail.trackCount)]
          .id,
        pid: this.detail.id,
      }); */
      // this.$store.dispatch('init_song',this.$store.state.pl.playingList[0])
    },
  },
  mounted() {
    this.$nextTick(async () => {
      const res = await getPlaylistDetail(this.data.id);
      this.detail = res.playlist;
    });
  },
  created() {},
};
</script>

<style scoped lang='scss'>
.myLikeMusic {
  display: flex;
  align-items: center;
  transition: all ease 0.3s;
  background: linear-gradient(45deg, #313436, #14191c);
  border-radius: 9px;
  box-shadow: 5px 5px 5px #3b4147, -5px -5px 5px #25292d;
  position: relative;

  .icon-love {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    color: red;
    font-size: 0.18rem;
  }
  .cover {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.1rem;
    background-size: 100% 100%;
    overflow: hidden;
  }
  .info {
    margin: 0 0.3rem;
    margin-right: 0.4rem;
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: #fff;
    line-height: 0.24rem;
    font-size: 0.18rem;
    span {
      font-size: small;
      opacity: 0.5;
    }
  }
  .intelligencePlay_btn {
    height: 0.25rem;
    line-height: 0.25rem;
    padding: 0 0.08rem;
    font-size: 0.11rem;
    position: absolute;
    right: 0.16rem;
    border-radius: 0.2rem;
    border: 0.01rem solid #999;
    i {
      vertical-align: middle;
    }
  }
}
</style>