<template>
  <div class="recent_play">
    <h4>Recent</h4>
    <ul>
      <li v-for="item in list">
        <p>
          {{ item.data.name }}<br />
          <span class="ar"
            >{{ songArToStr(item.data.ar) }}
            {{ item.data.al.name ? "-" + item.data.al.name : "" }}</span
          >
        </p>
        <i class="icon icon-bofang" @click="onClick(item.data)"></i>
      </li>
    </ul>
  </div>
</template>

<script>
import { getRecentPlaylist } from "network/user";
import { songArToStr } from "assets/js/util.js";

export default {
  name: "",
  data() {
    return {
      list: [],
    };
  },
  methods: {
    async initData() {
      const res = await getRecentPlaylist(10);
      this.list = res.data.list;
    },
    songArToStr(ars) {
      return songArToStr(ars);
    },
    async onClick(song) {
      this.$store.dispatch("QUITFM");
      this.$store.commit("addToPIL", song);
      this.$store.dispatch("init_song", song);
    },
  },
  created() {
    this.initData();
  },
};
</script>

<style scoped lang='scss'>
.recent_play {
  padding: 0.1rem 0 0.14rem 0;
  h4 {
    font-size: 0.24rem;
    color: #ccc;
    font-weight: normal;
    margin-bottom: 0.1rem;
  }
  ul {
    margin-top: 0.1rem;
    li {
      //   margin-bottom: 0.15rem;
      //   padding: 0 0.15rem;
      height: 0.65rem;
      display: flex;
      align-items: center;
      //   border-radius: 8px;
      border-bottom: 1px solid rgb(85, 85, 85);
      //   background: linear-gradient(145deg, #33393e, #2b3034);
      //   box-shadow: 3px 3px 6px #25292d, -3px -3px 6px #3b4147;
      p {
        flex: 1;
        color: #ccc;
        font-size: 16px;
        span {
          font-size: 12px;
          opacity: 0.7;
        }
      }

      .icon {
        background-color: rgb(67, 67, 67);
        width: 0.4rem;
        height: 0.4rem;
        line-height: 0.4rem;
        text-align: center;
        border-radius: 50%;
        color: #ccc;
        font-size: 0.14rem;
      }
    }
  }
}
</style>