<template>
  <div class="row action-btns">
    <a href="" download="" ref="downloadLink" target="_blank">
      <i class="icon icon-xiazai1"></i>
    </a>
    <i
      :class="[
        'icon',
        { 'icon-love-o': !isLikeSong },
        { 'icon-love': isLikeSong },
      ]"
      @click="likeSong"
      style="font-size: 0.22rem"
    ></i>
    <i
      class="icon icon-renwuzhongxin-huodepinglun"
      @click="$router.push('/comments')"
    >
      <sup v-text="commentSup"></sup>
    </i>
    <i class="icon icon-icon"></i>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ActionBtns",
  computed: {
    ...mapState({
      sid: (state) => state.ac.songInfo.id,
      sname: (state) => state.ac.songInfo.name,
      arName: (state) => state.ac.songInfo.arName,
      audioUrl: (state) => state.ac.songInfo.url,
      likeList: (state) => state.ua.likeList,
    }),
    commentSup() {
      const cnt = this.commentsCount | 0;
      if (cnt >= 1000000) return "100w+";
      if (cnt >= 100000) return "10w+";
      if (cnt >= 10000) return "1w+";
      if (cnt >= 999) return "999+";
      return cnt;
    },
  },
  props: {
    commentsCount: Number,
  },
  watch: {
    likeList: {
      hadler() {
        this.isLikeSong = this.likeList.has(this.sid);
      },
      deep: true,
    },
  },
  data() {
    return {
      isLikeSong: false,
      downUrl: "",
    };
  },
  methods: {
    async likeSong() {
      await this.$store.dispatch("likeSong", this.sid);
      this.isLikeSong = this.likeList.has(this.sid);
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.isLikeSong = this.likeList.has(this.sid);
      this.$refs.downloadLink.href = this.audioUrl;
      this.$refs.downloadLink.download = this.sname + " - " + this.arName;
    });
  },
  created() {},
};
</script>

<style scoped lang='scss'>
.action-btns {
  height: 0.3rem;
  padding: 0 0.1rem;
  .icon {
    display: inline-block;
    font-size: 0.2rem;
    width: 0.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    &.icon-love {
      color: var(--darkRed);
    }
  }

  .icon-renwuzhongxin-huodepinglun {
    position: relative;
    overflow: visible !important;
    sup {
      display: inline-block;
      width: 0.25rem;
      height: 0.25rem;
      line-height: 0.25rem;
      text-align: center;
      position: absolute;
      right: -0.18rem;
      top: -0.08rem;
      font-size: 0.1rem;
      color: #fff;
      border-radius: 50%;
    }
  }
}
</style>