<template>
  <div class="ctrlBtns">
    <div class="ctrlBtns-container row" v-show="!isFMUI">
      <i :class="['icon', playMode_icon]" @click="change_playMode"></i>
      <i class="icon icon-prev-song" @click="prevSong"></i>
      <i
        :class="[
          'icon',
          { 'icon-zanting1': !isPause },
          { 'icon-bofang11': isPause },
          'pauseBtn',
        ]"
        @click="pauseCtrl"
      ></i>
      <i class="icon icon-next-song" @click="nextSong"></i>
      <!-- <i class="icon icon-bofangliebiao" @click="showPL"></i> -->
      <i
        :class="[
          'icon',
          { 'icon-love-o': !isLikeSong },
          { 'icon-love': isLikeSong },
        ]"
        @click="likeSong"
      ></i>
    </div>

    <div class="ctrlBtns-container row" v-show="isFMUI">
      <i
        class="icon icon-delete-o"
        style="font-size: 21px"
        @click="fm_trash"
      ></i>
      <i
        :class="[
          'icon',
          { 'icon-love-o': !isLikeSong },
          { 'icon-love': isLikeSong },
        ]"
        @click="likeSong"
      ></i>
      <i
        :class="[
          'icon',
          { 'icon-zanting1': !isPause },
          { 'icon-bofang11': isPause },
          'pauseBtn',
        ]"
        @click="pauseCtrl"
      ></i>
      <i class="icon icon-next-song" @click="nextFM"></i>
      <i class="icon icon-pinglun-o" aria-hidden="true" @click="navToComments">
        <sup v-text="commentSup" v-show="commentsCount"></sup>
      </i>
    </div>

    <!--     <van-popup
      v-model="isShowPL"
      position="bottom"
      overlay
      get-container="#app"
      duration=".15"
    >
      <playing-list-card :key="compUpdateTimer"></playing-list-card>
    </van-popup> -->
  </div>
</template>

<script>
// import PlayingListCard from "common/PlayingListCard";

import { mapState } from "vuex";

export default {
  name: "CtrlBtns",
  props: {
    isFMUI: {
      type: Boolean,
      default: false,
    },
    commentsCount: Number,
  },
  /*   components: {
    PlayingListCard,
  }, */
  computed: {
    // 播放控制
    ...mapState({
      sid: (state) => state.ac.songInfo.id,
      likeList: (state) => state.ua.likeList,
      playMode: (state) => state.pl.playMode,
      isPause: (state) => state.ac.isPause,
    }),
    playMode_icon() {
      switch (this.playMode) {
        case 0:
          return "icon-a-ziyuan58";
        case 1:
          return "icon-suiji";
        case 2:
          return "icon-danquxunhuan";
        case 3:
          return "icon-xindong";
      }
      return "icon-a-ziyuan58";
    },
    commentSup() {
      const cnt = this.commentsCount | 0;
      if (cnt >= 1000000) return "100w+";
      if (cnt >= 100000) return "10w+";
      if (cnt >= 10000) return "1w+";
      if (cnt >= 999) return "999+";
      return cnt;
    },
  },
  data() {
    return {
      compUpdateTimer: 0,
      // isShowPL: false,
      isLikeSong: false,
    };
  },
  watch: {
    likeList: {
      hadler() {
        this.isLikeSong = this.likeList.has(this.sid);
      },
      deep: true,
    },
  },
  methods: {
    pauseCtrl() {
      this.$store.commit("playOrPause");
    },
    nextSong() {
      this.$store.dispatch("nextSong");
    },
    prevSong() {
      this.$store.dispatch("prevSong");
    },
    /*     showPL() {
      this.compUpdateTimer = Date.now();
      this.isShowPL = true;
    }, */

    likeSong() {
      this.$store.dispatch("likeSong", this.$store.state.ac.songInfo.id);
      this.isLikeSong = this.likeList.has(this.sid);
    },

    change_playMode() {
      this.$store.dispatch("change_playMode");
      if (this.isLikePL && this.playMode === 3) {
        this.$store.dispatch("changeIntelligencePIL", {
          id: this.curSongId,
          pid: 0,
          sid: this.sid,
        });
        this.$store.dispatch("init_song", this.list[0]);
      } else if (this.isLikePL && this.playMode !== 3) {
        // 如果是新推荐的歌曲，取消心动模式的话播放列表是找不到这首歌会出问题，自动切到第一首防止报错
        if (this.curSongInfo.recommended) {
          this.$store.dispatch("init_song", this.list[0]);
        }
      }
    },

    fm_trash() {
      this.$store.dispatch("FM_TRASH");
    },
    nextFM() {
      this.$store.dispatch("NEXT_FM");
    },
    navToComments() {
      this.$router.push("/comments");
    },
  },
  updated() {
    this.isLikeSong = this.likeList.has(this.sid);
  },
  created() {},
};
</script>

<style scoped lang='scss'>
.ctrlBtns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 80%;
    font-size: 0.24rem;
    cursor: pointer;
  }
  .pauseBtn {
    width: 0.8rem;
    height: 0.8rem;
    // background: #ef019f;
    font-size: 0.5rem;
    line-height: 0.8rem;
  }
  .icon-love {
    color: var(--darkRed);
  }
  .icon-pinglun-o {
    position: relative;
    overflow: visible !important;
    sup {
      display: inline-block;
      width: 0.25rem;
      height: 0.25rem;
      line-height: 0.25rem;
      text-align: center;
      position: absolute;
      right: -0.12rem;
      top: -0.08rem;
      font-size: 0.1rem;
      color: #fff;
      border-radius: 50%;
    }
  }
}
</style>