<template>
  <div
    class="comments-container hideScroll"
    ref="comments_container"
    @scroll="scroll($event)"
  >
    <div class="row top">
      <i class="icon icon-arrows-x" @click="navBack"></i>
      <h3>
        Comments (<span v-if="comments">{{ comments.totalCount }}</span
        >)
      </h3>
    </div>

    <div class="info">
      <div class="coverthumb">
        <img :src="coverUrl" alt="" />
      </div>
      <h4>
        <span>{{ songName }}</span> <span>- {{ arName }}</span>
      </h4>
    </div>

    <div class="comments">
      <div class="tit">
        <h4>Comment Area</h4>
        <div class="commentType">
          <span
            v-for="(item, idx) in sortTypeList"
            :class="{ active: sortType == item.sortType }"
            @click="changeSortType(item.sortType)"
            >{{ item.sortTypeName }}</span
          >
        </div>
      </div>
      <ul v-if="commentsData.length">
        <li
          v-for="(item, idx) in commentsData"
          :class="{ lastComment: idx === comments.length - 1 }"
        >
          <div class="userinfo">
            <img :src="item.user.avatarUrl" alt="" class="avatar" />
            <h5>
              {{ item.user.nickname }} <br />
              <span>{{ item.timeStr }}</span>
            </h5>
            <div
              :class="['like', { isLike: item.liked }]"
              @click="likeComment(idx)"
            >
              <span>{{ playcountComputed(item.likedCount) }}</span>
              <i class="icon icon-hao"></i>
            </div>
          </div>
          <pre class="content">{{ item.content }}</pre>
        </li>
      </ul>
      <van-loading
        type="spinner"
        v-if="!commentsData.length"
        size="40px"
        style="text-align: center; margin: 1rem"
        vertical
        >加载中...</van-loading
      >
    </div>

    <div class="publish-con">
      <textarea
        placeholder="说点什么吧，也许Ta都听得到"
        rows="1"
        v-model="inputComment"
        @input="text_autoHeight($event)"
        :style="{ height: commentInput_height + 'px' }"
        ref="comment_textarea"
        maxlength="100"
      ></textarea>
      <pre
        class="hiden-textarea"
        :style="{ width: textareaWidth + 'px' }"
        ref="comment_textarea_hiden"
        >{{ inputComment }}</pre
      >
      <button @click="publishComment">发送</button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { comment } from "network/song";
import IScroll from "assets/js/iscroll-probe";
import { playcountComputed, throttle, debounce } from "assets/js/util.js";
import { Toast } from "vant";

export default {
  name: "Comments",
  computed: {
    // 信息相关
    ...mapState({
      sid: (state) => state.ac.songInfo.id,
      songName: (state) => state.ac.songInfo.name,
      arName: (state) => state.ac.songInfo.arName,
      coverUrl: (state) => state.ac.songInfo.al.picUrl,
    }),
  },
  data() {
    return {
      comments: null,
      iscroll: {},
      commentsData: [],
      sortType: 1,
      pageNo: 0,
      sortTypeList: [
        {
          sortType: 1,
          sortTypeName: "rec",
        },
        {
          sortType: 2,
          sortTypeName: "hot",
        },
        {
          sortType: 3,
          sortTypeName: "new",
        },
      ],
      inputComment: "",
      commentInput_height: 20,
      textareaWidth: 0,
      timestamp: 0,
    };
  },
  watch: {
    comments: {
      handler() {},
      deep: true,
    },
  },
  methods: {
    navBack() {
      this.$router.go(-1);
    },
    async getComment() {
      // 当sortType为 3 时且页数不是第一页时需传入,值为上一条数据的 time
      const res =
        this.sortType === 3 && this.pageNo > 0
          ? await comment.get(
              this.sid,
              this.sortType,
              this.pageNo + 1,
              this.comments.cursor
            )
          : await comment.get(this.sid, this.sortType, this.pageNo + 1);
      // console.log(res);
      this.comments = res.data;
      this.commentsData = this.commentsData.concat(res.data.comments);
      // this.sortTypeList = res.data.sortTypeList;
    },
    async likeComment(idx) {
      const ctid = this.commentsData[idx].commentId;
      const t = this.commentsData[idx].liked ? 0 : 1;
      const res = await comment.like(this.sid, ctid, t);
      // 点赞完成后直接修改临时数据
      if (res.code == 200) {
        this.commentsData[idx].liked = !!t;
      }
    },
    async publishComment() {
      if (this.inputComment.length <= 6 || this.inputComment.length > 100)
        return Toast.fail("字数不符限制");
      const res = await comment.publish(this.sid, this.inputComment);
      if (res.code !== 200) return Toast.fail("评论发布失败！");
      this.inputComment = "";
      return Toast("已发布");
    },
    changeSortType(sortType) {
      this.pageNo = 0;
      this.sortType = sortType;
      this.commentsData = [];
      this.getComment(this.sortType);
    },
    initScroll() {
      this.iscroll = new IScroll(this.$refs.comments_container, {
        mouseWheel: true,
        // scrollbars: true,
        scrollX: false,
        scrollY: true,
      });
    },
    scroll(e) {
      if (Date.now() - this.timestamp < 300) return; // 使用时间戳节流
      this.timestamp = Date.now();
      // 判断是否滑到底
      if (e.originalTarget.scrollTop < e.originalTarget.scrollTopMax) {
        this.getComment();
      }
    },
    playcountComputed(cnt) {
      return playcountComputed(cnt);
    },
    text_autoHeight(e) {
      this.commentInput_height = this.$refs.comment_textarea_hiden.clientHeight;
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.textareaWidth = this.$refs.comment_textarea.clientWidth;
    });
  },
  created() {
    this.getComment();
  },
};
</script>

<style scoped lang='scss'>
@keyframes slideUp {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.comments-container {
  position: fixed;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  padding: 0.56rem 0 0.56rem 0;
  background-color: var(--commonPageBgc);
  animation: slideUp 0.3s ease 1 forwards;
  color: var(--silveryWhite);
  overflow: auto;
  // overflow: hidden;
  // touch-action: none;
  .top {
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 0.16rem 0.24rem 0 0.24rem;
    display: flex;
    width: 100%;
    height: 0.56rem;
    justify-content: center;
    align-items: center;
    background-color: var(--commonPageBgc);

    h3 {
      flex: 1;
      font-size: 0.17rem;
      margin: 0 0.1rem;
    }
    i {
      display: inline-block;
      width: 0.3rem;
      height: 0.3rem;
      text-align: center;
      line-height: 0.3rem;
    }
  }
  .info {
    padding: 0.14rem 0.24rem;
    display: flex;
    align-items: center;
    border-bottom: 0.06rem solid rgba(255, 255, 255, 0.2);
    .coverthumb {
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h4 {
      flex: 1;
      margin: 0 0.12rem;
      font-size: 0.13rem;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      text-overflow: ellipsis;
      font-weight: normal;
      span {
        &:first-child {
          max-width: 60%;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:last-child {
          flex: 1;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          opacity: 0.8;
        }
      }
    }
  }
  .comments {
    padding: 0.1rem 0.24rem;
    .tit {
      position: sticky;
      top: 0;
      z-index: 100;
      margin-bottom: 0.1rem;
      display: flex;
      align-items: center;
      height: 0.3rem;
      font-size: 0.14rem;
      background-color: var(--commonPageBgc);

      h4 {
        flex: 1;
      }
      .commentType {
        display: flex;
        span {
          width: 0.5rem;
          text-align: center;
          opacity: 0.6;
          &.active {
            opacity: 1;
          }
        }
      }
    }
    ul {
      li {
        padding: 0.08rem 0;
        .userinfo {
          display: flex;
          .avatar {
            margin-right: 0.1rem;
            width: 0.35rem;
            height: 0.35rem;
            border-radius: 50%;
          }
          h5 {
            flex: 1;
            font-size: 0.12rem;
            font-weight: normal;
            span {
              font-size: smaller;
              opacity: 0.8;
            }
          }
          .like {
            display: flex;
            align-items: center;
            font-size: 0.14rem;
            span {
              margin-right: 0.1rem;
              font-size: 0.12rem;
            }
            &.isLike {
              color: var(--themeRed);
            }
          }
        }
        .content {
          white-space: pre-wrap;
          padding: 0.1rem 0;
          margin-left: 0.45rem;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          font-size: 0.14rem;
          line-height: 0.2rem;
        }
      }
    }
  }
  .publish-con {
    position: fixed;
    bottom: 0;
    width: 100%;
    // height: .5rem;
    padding: 0.1rem 0.24rem;
    display: flex;
    align-items: center;
    background-color: var(--themeBgc);
    font-size: 0.14rem;
    textarea {
      margin-right: 0.16rem;
      flex: 1;
      height: auto;
      line-height: 20px;
      resize: none;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .hiden-textarea {
      position: fixed;
      top: 0;
      height: auto;
      line-height: 20px;
      white-space: pre-wrap;
      word-wrap: break-word;
      z-index: -10000;
      visibility: hidden;
    }
    button {
      align-self: flex-end;
      min-width: 0.4rem;
      height: 0.3rem;
      background-color: transparent;
    }
  }
}
</style>