* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,miui,Hiragino Sans GB,Microsoft Yahei,sans-serif !important;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

:root {
  --elegrance-black: rgb(216, 216, 216);
  --black: #1d1d1d;
  --white: rgb(243, 243, 243);
  --blue: rgb(25, 137, 250);
  --qinlan:#5698c3; // 晴蓝
  --yunshuilan:#baccd9; // 云水蓝
  --niluolan:#2474b5;

  --themeRed: #ec2b24;
  --themeBgc: rgb(48, 53, 58);
  --footbarBgc: #1e2227;
  --footplaybarBgc: #272226;
  --commonPageBgc: #121419;

  --silveryWhite: #f1f0ed; //银白

  --brightRed: #f04b22; // 大红
  --auroraRed: #f33b1f; // 极光红
  --darkRed: #ac1f18;
  --qiuhaitanghong: #ec2b24;

  --xinhui: #7a7374;
  --yinhui: #918072;
  --qianhui: rgb(209, 209, 209);
  --shenhui: #81776e;
  --anlongdanzi: #22202e;
  --anlanzi: #131124;
  --shuiniuhui: #2f2f35;

  --topBarHeight: 0.5rem;

  --footbarHeight: .55rem;
  --footplaybarHeight: .55rem;
  --bottomBarHeight: 1.3rem;
}

textarea,
select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  opacity: 0.5;
}
button {
  outline: none;
  border: none;
}
label {
  display: inline-block;
}

html {
  font-size: 100px;
}
body {
  font-size: 15px;
  background-color: var(--black);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.icon {
  overflow: visible;
}
.van-toast__icon {
  display: inline-block;
  height: 36px;
  line-height: 36px;
}

// 隐藏滚动条
.hideScroll {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  scrollbar-width: none;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textover-eclipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
@for $i from 2 through 6 {
  .textover-eclipsis-#{$i} {
    -webkit-line-clamp: $i;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}

// 歌单展示列表
.playlists-show-wrapper {
  .playlists-show-list {
    white-space: nowrap;
    display: inline-flex;
    // display: flex;
    // flex-wrap: wrap;
    li {
      float: left;
      width: 0.95rem;
      flex-shrink: 0;
      margin: 0 0.1rem 0 0;
      .cover {
        width: 100%;
        height: 0.95rem;
        background-color: #fff;
        border-radius: 0.08rem;
        background-size: contain;
        position: relative;
        overflow: hidden;

        .playcount {
          display: inline;
          position: absolute;
          right: 0.04rem;
          top: 0.04rem;
          padding: 0.04rem 0.06rem;
          background-color: rgba(0, 0, 0, 0.3);
          font-size: 0.11rem;
          line-height: 0.1rem;
          border-radius: 0.08rem;
          .icon {
            font-size: 0.11rem;
          }
        }
      }
      .list-name {
        margin-top: 0.05rem;
        font-size: 0.11rem;
      }
    }
  }
}
