@font-face {
  font-family: "icon"; /* Project id 2608203 */
  src: url('//at.alicdn.com/t/font_2608203_imzsptrstf.woff2?t=1646036236462') format('woff2'),
       url('//at.alicdn.com/t/font_2608203_imzsptrstf.woff?t=1646036236462') format('woff'),
       url('//at.alicdn.com/t/font_2608203_imzsptrstf.ttf?t=1646036236462') format('truetype'),
       url('//at.alicdn.com/t/font_2608203_imzsptrstf.svg?t=1646036236462#icon') format('svg');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoujihao:before {
  content: "\e61d";
}

.icon-pinglun:before {
  content: "\e60c";
}

.icon-pinglun-o:before {
  content: "\e601";
}

.icon-gitlab:before {
  content: "\e6ac";
}

.icon-gitee:before {
  content: "\e6ad";
}

.icon-prev-song:before {
  content: "\e60e";
}

.icon-next-song:before {
  content: "\e618";
}

.icon-danquxunhuan:before {
  content: "\e6ab";
}

.icon-arrows-s:before {
  content: "\e677";
}

.icon-boult-s:before {
  content: "\e678";
}

.icon-arrows-y:before {
  content: "\e679";
}

.icon-arrows-z:before {
  content: "\e67d";
}

.icon-arrows-x:before {
  content: "\e67e";
}

.icon-boult-x:before {
  content: "\e67f";
}

.icon-businessman:before {
  content: "\e680";
}

.icon-delete-o:before {
  content: "\e681";
}

.icon-home1:before {
  content: "\e682";
}

.icon-edit-o:before {
  content: "\e683";
}

.icon-close-o:before {
  content: "\e684";
}

.icon-editor-o:before {
  content: "\e685";
}

.icon-delete:before {
  content: "\e686";
}

.icon-home-o:before {
  content: "\e687";
}

.icon-lawyer:before {
  content: "\e688";
}

.icon-Enter-sec:before {
  content: "\e689";
}

.icon-lock-o:before {
  content: "\e68a";
}

.icon-me:before {
  content: "\e68b";
}

.icon-link:before {
  content: "\e68c";
}

.icon-lock:before {
  content: "\e68d";
}

.icon-message:before {
  content: "\e68e";
}

.icon-more:before {
  content: "\e68f";
}

.icon-love-o:before {
  content: "\e690";
}

.icon-message-o:before {
  content: "\e691";
}

.icon-love:before {
  content: "\e692";
}

.icon-link-o:before {
  content: "\e693";
}

.icon-online-law:before {
  content: "\e694";
}

.icon-me-o:before {
  content: "\e695";
}

.icon-more-o:before {
  content: "\e696";
}

.icon-online-o:before {
  content: "\e697";
}

.icon-screen-o:before {
  content: "\e698";
}

.icon-set:before {
  content: "\e699";
}

.icon-rank:before {
  content: "\e69a";
}

.icon-shut:before {
  content: "\e69b";
}

.icon-set-o:before {
  content: "\e69c";
}

.icon-online:before {
  content: "\e69d";
}

.icon-shut-o:before {
  content: "\e69e";
}

.icon-loading:before {
  content: "\e69f";
}

.icon-reset:before {
  content: "\e6a0";
}

.icon-boult-y:before {
  content: "\e6a1";
}

.icon-boult-z:before {
  content: "\e6a2";
}

.icon-wallet:before {
  content: "\e6a3";
}

.icon-sigh:before {
  content: "\e6a4";
}

.icon-tick:before {
  content: "\e6a5";
}

.icon-sigh-o:before {
  content: "\e6a6";
}

.icon-search:before {
  content: "\e6a7";
}

.icon-mark:before {
  content: "\e6a8";
}

.icon-mark-o:before {
  content: "\e6a9";
}

.icon-wangpankongjian:before {
  content: "\e606";
}

.icon-zichanshuliang:before {
  content: "\e608";
}

.icon-chengyuanshuliang:before {
  content: "\e609";
}

.icon-yijianfankui:before {
  content: "\e60a";
}

.icon-tuiguangyaoqing:before {
  content: "\e60b";
}

.icon-wode:before {
  content: "\e643";
}

.icon-shouye:before {
  content: "\e667";
}

.icon-MFAyanzheng:before {
  content: "\e66f";
}

.icon-piliangcaozuo:before {
  content: "\e670";
}

.icon-shimingrenzheng:before {
  content: "\e671";
}

.icon-lianxiwomen:before {
  content: "\e672";
}

.icon-xinshourumen:before {
  content: "\e673";
}

.icon-dianhuazixun:before {
  content: "\e674";
}

.icon-guanyuwomen:before {
  content: "\e675";
}

.icon-yingyongpaixu:before {
  content: "\e676";
}

.icon-yunbeiguanli:before {
  content: "\e640";
}

.icon-shangxia:before {
  content: "\e60d";
}

.icon-xiazai:before {
  content: "\e60f";
}

.icon-shangchuan:before {
  content: "\e610";
}

.icon-xinxi:before {
  content: "\e612";
}

.icon-neirongshezhi:before {
  content: "\e613";
}

.icon-fenxiang:before {
  content: "\e614";
}

.icon-shanchu2:before {
  content: "\e615";
}

.icon-liebiao:before {
  content: "\e616";
}

.icon-qiehuan:before {
  content: "\e61b";
}

.icon-diejia:before {
  content: "\e61c";
}

.icon-shuaxin:before {
  content: "\e645";
}

.icon-quxiao1:before {
  content: "\e646";
}

.icon-pailie:before {
  content: "\e647";
}

.icon-wenjian:before {
  content: "\e648";
}

.icon-fangda:before {
  content: "\e649";
}

.icon-tixing1:before {
  content: "\e64a";
}

.icon-daochu:before {
  content: "\e64b";
}

.icon-shijian:before {
  content: "\e64c";
}

.icon-xinjianwenjian:before {
  content: "\e64e";
}

.icon-mokuai:before {
  content: "\e64f";
}

.icon-dabaoxiazai:before {
  content: "\e650";
}

.icon-hao:before {
  content: "\e651";
}

.icon-tianjia11:before {
  content: "\e652";
}

.icon-suoxiao:before {
  content: "\e653";
}

.icon-a-ziyuan58:before {
  content: "\e654";
}

.icon-cuowu:before {
  content: "\e655";
}

.icon-zhengque:before {
  content: "\e656";
}

.icon-yincang1:before {
  content: "\e657";
}

.icon-suoding:before {
  content: "\e658";
}

.icon-shezhi1:before {
  content: "\e659";
}

.icon-xianshi:before {
  content: "\e65a";
}

.icon-kaiguan:before {
  content: "\e65b";
}

.icon-home:before {
  content: "\e65c";
}

.icon-xinjianjihua:before {
  content: "\e65d";
}

.icon-cunchu:before {
  content: "\e65e";
}

.icon-bianji1:before {
  content: "\e65f";
}

.icon-a-ziyuan65:before {
  content: "\e660";
}

.icon-sousuo1:before {
  content: "\e662";
}

.icon-bofang2:before {
  content: "\e663";
}

.icon-bofang11:before {
  content: "\e664";
}

.icon-tiaozheng:before {
  content: "\e666";
}

.icon-fenlei:before {
  content: "\e669";
}

.icon-jingyin:before {
  content: "\e66a";
}

.icon-shangyiqu:before {
  content: "\e66b";
}

.icon-suiji:before {
  content: "\e66c";
}

.icon-xiayiqu:before {
  content: "\e66d";
}

.icon-zanting1:before {
  content: "\e66e";
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-tianjia:before {
  content: "\e635";
}

.icon-xiangxia:before {
  content: "\e8f2";
}

.icon-xiangxia1:before {
  content: "\e8f3";
}

.icon-xindong:before {
  content: "\e603";
}

.icon-xindong1:before {
  content: "\e64d";
}

.icon-yigou1:before {
  content: "\e642";
}

.icon-tianjia1:before {
  content: "\e641";
}

.icon-shoucang1:before {
  content: "\e661";
}

.icon-haoyou:before {
  content: "\e607";
}

.icon-shangchuanyunpan:before {
  content: "\e6b3";
}

.icon-boke1:before {
  content: "\e602";
}

.icon-musicAlbums:before {
  content: "\ea0f";
}

.icon-saoyisao:before {
  content: "\e62c";
}

.icon-yincang:before {
  content: "\e632";
}

.icon-tuichu:before {
  content: "\e63b";
}

.icon-xunhuan:before {
  content: "\e63c";
}

.icon-shoucang:before {
  content: "\e63d";
}

.icon-caidan:before {
  content: "\e621";
}

.icon-bianji:before {
  content: "\e622";
}

.icon-gengduo:before {
  content: "\e623";
}

.icon-faxian:before {
  content: "\e625";
}

.icon-qita:before {
  content: "\e629";
}

.icon-sousuo:before {
  content: "\e62a";
}

.icon-fav:before {
  content: "\e71e";
}

.icon-unfav:before {
  content: "\e824";
}

.icon-zhengzaibofang:before {
  content: "\e62d";
}

.icon-yinle:before {
  content: "\e644";
}

.icon-play:before {
  content: "\e617";
}

.icon-yanzhengma:before {
  content: "\e604";
}

.icon-weibo1:before {
  content: "\e61f";
}

.icon-weibo:before {
  content: "\e67b";
}

.icon-weixin:before {
  content: "\e67c";
}

.icon-qq:before {
  content: "\e746";
}

.icon-weixin1:before {
  content: "\e665";
}

.icon-qq1:before {
  content: "\e668";
}

.icon-icon:before {
  content: "\e67a";
}

.icon-next:before {
  content: "\e61a";
}

.icon-icon-:before {
  content: "\e619";
}

.icon-suijibofang:before {
  content: "\e638";
}

.icon-share:before {
  content: "\e780";
}

.icon-renwuzhongxin-huodepinglun:before {
  content: "\e605";
}

.icon-xihuan-xuanzhong:before {
  content: "\e636";
}

.icon-xihuan-tianjia:before {
  content: "\e637";
}

.icon-bofangliebiao:before {
  content: "\e600";
}

.icon-bofang:before {
  content: "\e6aa";
}

.icon-shunxubofang:before {
  content: "\e611";
}

.icon-xiazai1:before {
  content: "\e6d1";
}

