<template>
  <div class="dragon-balls">
    <ul class="hideScroll">
      <!--       <li v-for="(item, index) in balls.slice(0, 2)" ref="ball" class="ball">
        <a
          :href="!!item.url.match('orpheus:') ? 'javascript:;' : item.url"
          class="flex-center"
        >
          <div class="icon">
            <img :src="item.iconUrl" alt="" />
          </div>
          <p v-text="item.name"></p>
        </a>
      </li>

      <li v-for="(item, index) in balls.slice(5, 6)" ref="ball" class="ball">
        <a
          :href="!!item.url.match('orpheus:') ? 'javascript:;' : item.url"
          class="flex-center"
        >
          <div class="icon">
            <img :src="item.iconUrl" alt="" />
          </div>
          <p v-text="item.name"></p>
        </a>
      </li> -->
      <li class="fm">
        <div class="info">
          <h3>Personal FM</h3>
          <!-- <span>今天是：{{ timeNow }}</span> -->
          <span v-html="greetingWord"></span>
        </div>
        <div class="cover" @click="FMMODE">
          <img v-if="fmSong.al" :src="fmCover" alt="" />
          <div class="icon icon-play"></div>
        </div>
      </li>
      <li class="dailySongs" @click="showDailySongs">
        <h3>Daily<br />30</h3>
        <div class="icon icon-diejia"></div>
      </li>
      <li v-for="(item, index) in balls.slice(5, 6)" class="ball">
        <a
          :href="!!item.url.match('orpheus:') ? 'javascript:;' : item.url"
          class="flex-center"
        >
          <h3>Digital<br /><span>Album</span></h3>
          <img :src="item.iconUrl" class="icon" />
        </a>
      </li>
    </ul>

    <van-popup
      position="bottom"
      get-container="#app"
      v-model="isShowDaliyList"
      :overlay="false"
      closeable
      close-icon=" icon icon-close-o"
    >
      <daily-recommend-songs :list="dailySongs"></daily-recommend-songs>
    </van-popup>
  </div>
</template>

<script>
import { getHomePageContent } from "network/home";
import { getTodaySongs } from "network/recommend";
import DailyRecommendSongs from "./DailyRecommendSongs.vue";
import { FM } from "network/recommend";
import { getSongDetail } from "network/song";
import { mapState } from "vuex";

export default {
  name: "DragonBalls",
  components: {
    DailyRecommendSongs,
  },
  data() {
    return {
      balls: [],
      isShowDaliyList: false,
      isShowFM: false,

      dailySongs: [],
      fmSong: {},
    };
  },
  computed: {
    ...mapState({
      isFM_Mode: (state) => state.fm.isFM_Mode,
      songInfo: (state) => state.ac.songInfo,
    }),
    fmCover() {
      if (this.isFM_Mode) return this.songInfo.al.picUrl;
      else return this.fmSong.al.picUrl;
    },
    greetingWord() {
      const time = new Date().getHours() + 1;
      if (time > 23) return "祝你今晚好梦";
      if (time > 19) return "晚上好，要来听点音乐吗？";
      if (time > 17) return "该吃饭了哟";
      if (time > 13) return "下午了，来首歌放松下吧";
      if (time > 11) return "午休时间到~";
      if (time > 8) return "工作之余别忘了休息哦";
      if (time > 5) return "一天之计在于晨";
      else return "星星和我都在看着你~";
    },
    timeNow() {
      return (
        new Date().getMonth() +
        1 +
        ":" +
        new Date().getDate() +
        ":" +
        new Date().getFullYear()
      );
    },
  },
  watch: {
    isShowDaliyList() {
      this.$emit("showDailyList", this.isShowDaliyList);
    },
  },
  methods: {
    async INIT() {
      const res = await getHomePageContent.DragonBalls();
      this.balls = res.data;
      const fm = await FM.get();
      const fmSong = await getSongDetail(fm.data[0].id);
      this.fmSong = fmSong.songs[0];
    },
    async showDailySongs() {
      const res = await getTodaySongs();
      this.dailySongs = res.data.dailySongs;
      this.isShowDaliyList = true;
    },
    async FMMODE() {
      if (!this.$store.state.fm.isFM_Mode) this.$store.dispatch("INITFM");
      this.isShowFM = true;
      this.$router.push("/playerui");
    },
  },
  created() {
    this.INIT();
  },
  mounted() {
    /*     this.$refs.ball[0].onclick = () => {
      console.log(111);
    }; */
  },
  updated() {},
};
</script>

<style scoped lang='scss'>
.dragon-balls {
  // margin-bottom: 0.15rem;
  width: 100%;
  ul {
    padding: 0.05rem 0.1rem;
    display: flex;
    /*     li {
      font-size: 0.12rem;
      margin-right: 0.05rem;
      a {
        width: 0.6rem;
        flex-direction: column;
        color: var(--silveryWhite);

        .icon {
          border-radius: 50%;
          width: 0.45rem;
          height: 0.45rem;
          img {
            width: 0.45rem;
            height: 0.45rem;
          }
        }
        p {
          text-align: center;
        }
      }
    } */
    li {
      // float: left;
      flex-shrink: 0;
      margin-right: 0.12rem;
      display: flex;
      width: 1rem;
      height: 1rem;
      padding: 0.1rem;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      background: linear-gradient(145deg, #2b3034, #33393e);
      box-shadow: 5px 5px 10px #25292d, -5px -5px 10px #3b4147;
      &.fm {
        width: 2rem;
        padding: 0.12rem;
        .info {
          padding: 0.04rem 0;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            color: #fff;
            font-size: 0.16rem;
          }
          span {
            font-size: 0.1rem;
            color: #ccc;
          }
        }
        .cover {
          width: 0.6rem;
          position: relative;
          img {
            width: 100%;
            border-radius: 8px;
            opacity: 0.8;
          }
          .icon {
            position: absolute;
            bottom: 0.08rem;
            left: 0.08rem;
            font-size: 0.25rem;
          }
        }
      }
      &.dailySongs,
      &.ball {
        padding-top: 0;
        font-size: 0.18rem;
        line-height: 0.3rem;
        position: relative;
        .icon {
          position: absolute;
          bottom: 0.04rem;
          right: 0.06rem;
          font-size: 0.14rem;
        }
      }
      &.ball {
        h3 {
          color: #fff;
          span {
            font-size: 0.15rem;
          }
        }
        .icon {
          width: 0.3rem;
          height: 0.3rem;
        }
      }
    }
  }
}
.van-popup {
  width: 100%;
  height: 100%;
}
</style>