<template>
  <div class="rcmd_songs">
    <h3 class="sec-tit">
      Recommend Songs
      <i :class="icon_name" @click="onChange"></i>
    </h3>
    <ul>
      <li v-for="item in list.slice(listIndex_s, listIndex_e)">
        <img :src="item.picUrl" alt="" class="cover" />
        <p>
          {{ item.name }}<br />
          <span class="ar"
            >{{ item.song.artists[0].name }}
            {{ item.song.alias[0] ? "-" + item.song.alias[0] : "" }}</span
          >
        </p>
        <i class="icon icon-bofang" @click="onClick(item.song)"></i>
      </li>
    </ul>
  </div>
</template>

<script>
import { getRcmdNewSongs } from "network/recommend";
import { getSongDetail } from "network/song";
export default {
  name: "",
  data() {
    return {
      list: [],
      listIndex_s: 0,
      listIndex_e: 4,
      icon_name: "icon icon-reset",
    };
  },
  methods: {
    async initData() {
      const res = await getRcmdNewSongs(28);
      this.list = res.result;
    },
    async onClick(song) {
      this.$store.dispatch("QUITFM");
      const res = await getSongDetail(song.id);
      this.$store.commit("addToPIL", res.songs[0]);
      this.$store.dispatch("init_song", res.songs[0]);
    },
    async onChange() {
      this.icon_name = "icon icon-reset active";
      if (this.listIndex_e >= 28) {
        this.listIndex_s = 0;
        this.listIndex_e = 4;
      } else {
        this.listIndex_s += 4;
        this.listIndex_e += 4;
      }
      setTimeout(() => {
        this.icon_name = "icon icon-reset";
      }, 300);
    },
  },
  created() {
    this.initData();
  },
};
</script>

<style scoped lang='scss'>
@keyframes rotate_360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.rcmd_songs {
  padding: 0.1rem 0 0.14rem 0;
  margin-top: 0.1rem;
  h3:first-child {
    /*         font-size: 0.24rem;
    color: #ccc;
    font-weight: normal;
    margin-bottom: 0.1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.1rem;
    .icon {
      /*       width: 0.28rem;
      height: 0.28rem;
      font-size: 0.22rem;
      line-height: 0.28rem; */
      width: 0.18rem;
      height: 0.18rem;
      font-size: 0.18rem;
      line-height: 0.18rem;
      text-align: center;
      transform-origin: center;
      &.active {
        animation: rotate_360 1 0.3s;
      }
    }
  }

  ul {
    margin-top: 0.1rem;
    li {
      margin-bottom: 0.15rem;
      padding: 0 0.15rem;
      height: 0.55rem;
      display: flex;
      align-items: center;
      border-radius: 8px;
      background: linear-gradient(145deg, #33393e, #2b3034);
      box-shadow: 3px 3px 6px #25292d, -3px -3px 6px #3b4147;
      .cover {
        width: 0.4rem;
        margin-right: 0.15rem;
        border-radius: 0.1rem;
      }
      p {
        flex: 1;
        color: #ccc;
        font-size: 0.14rem;
        span {
          font-size: 0.12rem;
          opacity: 0.7;
        }
      }

      .icon {
        background-color: rgb(67, 67, 67);
        width: 0.3rem;
        height: 0.3rem;
        line-height: 0.3rem;
        text-align: center;
        border-radius: 50%;
        font-size: 0.12rem;
      }
    }
  }
}
</style>