<template>
  <div id="app">
    <keep-alive include="home,user">
      <router-view />
    </keep-alive>
    <audio
      :src="audioUrl"
      style="display: none"
      id="audio"
      controls
      @ended="autoNext"
      @timeupdate="timeUpdate"
    ></audio>
  </div>
</template>

<script>
import { throttle } from "assets/js/util.js";
import { mapState } from "vuex";

export default {
  name: "App",
  data() {
    return {
      throttle,
    };
  },
  computed: {
    ...mapState({
      audioUrl: (state) => state.ac.songInfo.url,
    }),
  },
  methods: {
    autoNext() {
      this.$store.dispatch("nextSong");
    },
    timeUpdate(e) {
      const audio = document.getElementById("audio");
      this.$store.commit("timeUpdate", Math.round(audio.currentTime));
    },
  },
  created() {},
  // 销毁之前将本次信息储存到本地以下次恢复
  /*   beforeDestroy() {
    localStorage.setItem(
      "songInfo",
      JSON.stringify(this.$store.state.ac.songInfo)
    );
    localStorage.setItem(
      "playingList",
      JSON.stringify(this.$store.state.pl.playingList)
    );
  }, */
};
</script>

<style lang='scss'>
#app {
  height: 100%;
  background: var(--themeBgc);
  overflow: hidden;

  audio {
    position: fixed;
    z-index: -999999;
  }
}
</style>
