<template>
  <section class="playing-list-card playing-list-card--fixed">
    <div class="head--fixed" v-show="!isFM_Mode">
      <h3>
        Now Playing
        <span style="font-size: small; opacity: 0.8"
          >({{ list.length }} Songs)</span
        >
        <div class="action-btn btn1" @click="change_playMode">
          <i :class="['icon', playMode_icon]"></i>
        </div>
      </h3>
    </div>

    <div class="container" v-show="!isFM_Mode" ref="playing_list_card">
      <ul class="list">
        <li
          v-for="(item, index) in list"
          :key="index"
          @click="changeSong(index)"
          :class="[{ list_item_active: item.id === curSongId }, 'list_item']"
          :ref="{ list_item_active: item.id === curSongId }"
        >
          <p class="textover-eclipse name">
            <span class="songName">{{ item.name }}</span>
            -
            {{ songArToStr(item.ar) }}
            <span v-show="item.recommended">【荐】</span>
          </p>
          <i class="icon icon-cuowu btn" @click="deleteFromPIL(item.id)"></i>
        </li>
      </ul>
    </div>
    <div class="container fm-mode flex-center" v-show="isFM_Mode">
      <p>当前播放: 私人FM</p>
      <p class="name" v-cloak>
        {{ songName }} <span>- {{ arName }}</span>
      </p>
    </div>
  </section>
</template>

<script>
import { songArToStr } from "assets/js/util";

import { mapState } from "vuex";
import { ontouchActive } from "assets/js/util";
import { Toast } from "vant";
import IScroll from "assets/js/iscroll-probe";

export default {
  name: "PlayingListCard",
  computed: {
    ...mapState({
      songName: (state) => state.ac.songInfo.al.name,
      arName: (state) => state.ac.songInfo.arName,
      list: (state) => state.pl.playingList,
      curSongId: (state) => state.ac.songInfo.id,
      curSongInfo: (state) => state.ac.songInfo,
      playMode: (state) => state.pl.playMode,

      isFM_Mode: (state) => state.fm.isFM_Mode,
    }),

    playMode_icon() {
      switch (this.playMode) {
        case 0:
          return "icon-a-ziyuan58";
        case 1:
          return "icon-suiji";
        case 2:
          return "icon-danquxunhuan";
        case 3:
          return "icon-xindong";
      }
      return "icon-a-ziyuan58";
    },
    playmode_text() {
      switch (this.playMode) {
        case 0:
          return "顺序播放";
        case 1:
          return "随机播放";
        case 2:
          return "单曲循环";
        case 3:
          return "心动模式";
      }
      return "顺序播放";
    },
  },
  data() {
    return {
      iscroll: {},
    };
  },
  methods: {
    songArToStr(ars) {
      return songArToStr(ars);
    },
    async changeSong(index) {
      this.$store.dispatch("changeSong", index);
    },
    change_playMode() {
      this.$store.dispatch("change_playMode");
    },
    deleteFromPIL(sid) {
      this.$store.commit("deleteFromPIL", sid);
    },
    deleteFromPIL_All() {
      return Toast("暂不支持");
    },
  },
  mounted() {
    if (this.isFM_Mode) return;
    ontouchActive(
      document.querySelector(".playing-list-card").querySelectorAll(".btn")
    );
    this.$nextTick(() => {
      this.iscroll = new IScroll(this.$refs.playing_list_card, {
        scrollY: true,
        mouseWheel: true,
      });
      // console.log(document.querySelector(".list_item_active"));
      this.iscroll.scrollToElement(
        document.querySelector(".list_item_active"),
        1,
        0,
        -44
      );
    });
  },
};
</script>

<style scoped lang='scss'>
.playing-list-card--fixed {
  // width: 3.36rem;
  height: 4.7rem;
  // margin: 0.19rem;
  background-color: var(--themeBgc);
  border-radius: 0.16rem;
  // overflow: auto;
  overflow: hidden;
  color: var(--qianhui);
  position: relative;
  .head--fixed {
    position: sticky;
    padding: 0.16rem 0 0.12rem 0;
    top: 0;
    background-color: var(--themeBgc);
    z-index: 20;
  }
  h3,
  .action-btns {
    padding: 0 0.16rem;
  }
  h3 .action-btn {
    float: right;
    margin-right: 0.1rem;
  }
}
.container {
  height: 100%;
  padding: 0.16rem 0;

  .btn {
    display: inline-block;
    width: 0.28rem;
    height: 0.28rem;
    text-align: center;
    line-height: 0.28rem;
    opacity: 0.8;
    &.active {
      background-color: var(--footbarBgc);
    }
  }
}
.action-btns {
  margin-top: 0.06rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.14rem;
  height: 0.28rem;
  line-height: 0.28rem;

  .btn1 {
    display: flex;
    i {
      margin-right: 0.08rem;
    }
  }
}
.list {
  margin-top: -0.2rem;
  touch-action: none;
  box-sizing: content-box;
  padding-top: 0.1rem;
  padding-bottom: 0.75rem;
  li {
    padding: 0.16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.44rem;
    &.list_item_active {
      background-color: var(--footbarBgc);
      p.name {
        color: var(--qiuhaitanghong);
      }
    }
    p {
      font-size: 0.11rem;
      width: 80%;
      span {
        font-size: 0.14rem;
      }
    }
  }
}
.fm-mode {
  flex-direction: column;
  font-size: 0.16rem;
  p {
    &:first-child {
      font-size: larger;
      margin-bottom: 0.1rem;
    }
  }
  .name {
    text-align: center;
    color: var(--qiuhaitanghong);
    span {
      font-size: small;
    }
  }
}
</style>