<template>
  <section class="player-ui">
    <div class="bg" :style="{ backgroundImage: 'url(' + coverUrl + ')' }"></div>

    <div class="row top" v-show="!isFM_Mode">
      <i class="icon icon-arrows-x" @click="navBack"></i>
      <div class="name">
        <h4 class="textover-eclipse">Now Playing</h4>
        <!-- <h5 class="arName textover-eclipse">{{ arName }}</h5> -->
      </div>
      <i class="icon icon-bofangliebiao" @click="showPL"></i>
    </div>

    <div class="top" v-show="isFM_Mode">
      <i class="icon icon-arrows-x" @click="$router.go(-1)"></i>
      <h3>Personal FM</h3>
      <i class="icon icon-gengduo"></i>
    </div>

    <main class="center-container">
      <div class="center">
        <!-- 主界面 -->
        <div class="main part" :class="{ active: !isShowLyric }">
          <div class="cover" @click="isShowLyric = true">
            <img :src="coverUrl" alt="" />
          </div>
          <div class="name">
            <h4 v-text="songName" class="songName"></h4>
            <h5 v-text="arName" class="textover-eclipse arName"></h5>
          </div>
          <div class="btns">
            <a href="" download="" ref="downloadLink" target="_blank">
              <i class="icon icon-xiazai1"></i>
            </a>
            <i
              class="icon icon-renwuzhongxin-huodepinglun"
              @click="$router.push('/comments')"
            ></i>
          </div>
        </div>
        <!-- 歌词界面 -->
        <div class="lyric part" :class="{ active: isShowLyric }">
          <player-ui-lyric
            :lyric_withTime="lyric_withTime"
            :tlyric_withTime="tlyric_withTime"
            :nolyric="false"
            :songName="songName"
            :key="sid"
            @showMain="isShowLyric = false"
            v-if="lyric_withTime.length"
          ></player-ui-lyric>
        </div>
      </div>
      <!-- 底部 -->
      <div class="bottom">
        <!--         <action-btns
          v-show="!isFM_Mode && !isShowLyric"
          :key="sid"
          :commentsCount="commentsCount"
        ></action-btns> -->
        <player-ui-progress></player-ui-progress>
        <ctrl-btns
          :isFMUI="isFM_Mode"
          :commentsCount="commentsCount"
        ></ctrl-btns>
      </div>
    </main>

    <van-popup
      v-model="isShowPL"
      position="bottom"
      overlay
      get-container="#app"
      duration=".15"
    >
      <playing-list-card :key="compUpdateTimer"></playing-list-card>
    </van-popup>
  </section>
</template>

<script>
import PlayerUiProgress from "common/childComps/PlayerUiProgress";
import playerUiLyric from "./childComps/playerUiLyric.vue";
import ActionBtns from "./childComps/ActionBtns.vue";
import CtrlBtns from "./childComps/CtrlBtns.vue";
import PlayingListCard from "common/PlayingListCard";

import { getSongLyric, Lyric, Mlog } from "network/song";
import { getStyle } from "assets/js/util";

import { mapState } from "vuex";
import { comment } from "network/song";

export default {
  name: "PlayerUi",
  components: {
    PlayerUiProgress,
    playerUiLyric,
    ActionBtns,
    CtrlBtns,
    PlayingListCard,
  },
  computed: {
    // 信息相关
    ...mapState({
      sid: (state) => state.ac.songInfo.id,
      songName: (state) => state.ac.songInfo.name,
      audioUrl: (state) => state.ac.songInfo.url,
      arName: (state) => state.ac.songInfo.arName,
      isPause: (state) => state.ac.isPause,
      coverUrl: (state) => state.ac.songInfo.al.picUrl,
      isFM_Mode: (state) => state.fm.isFM_Mode,
    }),
  },
  data() {
    return {
      isShowPL: false,
      isShowLyric: false,
      nolyric: false,
      lyric_withTime: [],
      tlyric_withTime: [],
      commentsCount: 0,
      isShowPL: false,
      compUpdateTimer: 0,
    };
  },
  methods: {
    navBack() {
      this.$router.go(-1);
    },
    async init_mlog() {
      const mlogs = await Mlog.get(this.sid);
      const url = await Mlog.getUrl(mlogs.data.feeds[0].id);
      console.log(url);
    },
    async init_lyric() {
      const res = await Lyric.get(this.sid);
      if (res.lrc) {
        this.nolyric = false;
        this.lyric_withTime = res.lrc.lyric.split("\n");
      } else {
        this.nolyric = true;
      }

      if (res.tlyric) {
        this.nolyric = false;
        this.tlyric_withTime = res.tlyric.lyric.split("\n");
      } else this.tlyric_withTime = [];
    },
    async getComment() {
      const res = await comment.get(this.sid);
      this.commentsCount = res.data.totalCount;
    },
    pauseCtrl() {
      this.$store.commit("playOrPause");
    },
    showPL() {
      this.compUpdateTimer = Date.now();
      this.isShowPL = true;
    },
    CHANGE() {},
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.downloadLink.href = this.audioUrl;
      this.$refs.downloadLink.download =
        this.songName + " - " + this.arName + ".mp3";
    });
  },
  watch: {
    sid() {
      this.$emit("updateComp", this.sid);
      this.init_lyric();
      this.getComment();
    },
  },
  created() {
    // this.init_mlog();
    this.init_lyric();
    this.getComment();
  },
  beforeDestory() {},
};
</script>

<style scoped lang='scss'>
.icon-xihuan-xuanzhong {
  color: red;
}
@keyframes slideUp {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.player-ui {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.16rem 0.24rem;
  color: #f1f0ed;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-color: var(--commonPageBgc);
  overflow: hidden;
  animation: slideUp 0.3s ease 1 forwards;
  .bg {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--commonPageBgc);
    background-image: var(--bg);
    z-index: -1;
    transform: scale(1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px);
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .top {
    display: flex;
    position: relative;
    width: 100%;
    height: 0.4rem;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 0.2rem;
    }
    h3 {
      flex-grow: 1;
      text-align: center;
      margin: 0 0.16rem;
      margin-left: 0.4rem;
      line-height: 0.3rem;
    }
    i {
      display: inline-block;
      width: 0.3rem;
      height: 0.3rem;
      text-align: center;
      line-height: 0.3rem;
    }
    .name {
      flex-grow: 1;
      text-align: center;
      margin: 0 0.16rem;
      margin-left: 0.4rem;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .songName {
        width: 100%;
        height: 50%;
        background-color: unset;
        padding: 0;
        color: var(--white);
        font-size: 0.2rem;
        transition: all ease 8s;
        text-align: center;
      }
      .arName {
        font-size: 0.16rem;
        opacity: 0.6;
      }
    }
  }

  main {
    height: calc(100% - 34px);
    display: flex;
    flex-direction: column;
    .part {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: all 0.3s ease;
      opacity: 0;
      // display: none;
      &.main {
        z-index: 90;
      }
      &.lyric {
        z-index: 80;
        height: 100%;
        padding: 0.3rem 0;
        .lyric-container {
          height: 100%;
          transition: all linear 0.3s;
        }
        .btns {
          height: 10%;
          margin-top: 10%;
        }
      }
      &.active {
        // display: block;
        opacity: 1;
        z-index: 110;
      }
    }
    .center {
      flex-grow: 1;
      position: relative;
      height: 5.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .main {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        .cover {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          overflow: hidden;
          border: 6px solid #fff;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name {
          width: 100%;
          margin-top: 0.4rem;
          font-size: 0.18rem;
          h4,
          h5 {
            width: 100%;
            text-align: center;
          }
          h4 {
            font-size: larger;
            line-height: 0.35rem;
          }
          h5 {
            margin-top: 0.08rem;
          }
        }
        .btns {
          position: absolute;
          bottom: 0.1rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          a,
          .icon {
            display: inline-block;
            width: 0.3rem;
            height: 0.3rem;
            font-size: 0.26rem;
            line-height: 0.3rem;
            text-align: center;
            color: #fff;
          }
        }
      }
    }
    .bottom {
      width: 100%;
    }
  }

  .player-ui-progress {
    height: 0.7rem;
  }
}
</style>